    /*
    Flaticon icon font: Flaticon
    Creation date: 08/10/2019 11:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-law:before { content: "\f100"; }
.flaticon-lawyer:before { content: "\f101"; }
.flaticon-lawyer-1:before { content: "\f102"; }
.flaticon-lawyer-2:before { content: "\f103"; }
.flaticon-lawyer-3:before { content: "\f104"; }
.flaticon-lawyer-4:before { content: "\f105"; }
.flaticon-lawyer-5:before { content: "\f106"; }
.flaticon-lawyer-6:before { content: "\f107"; }
.flaticon-lawyer-7:before { content: "\f108"; }
.flaticon-lawyer-8:before { content: "\f109"; }
.flaticon-lawyer-9:before { content: "\f10a"; }
.flaticon-lawyer-10:before { content: "\f10b"; }
.flaticon-lawyer-11:before { content: "\f10c"; }
.flaticon-lawyer-12:before { content: "\f10d"; }
.flaticon-lawyer-13:before { content: "\f10e"; }
.flaticon-lawyer-14:before { content: "\f10f"; }
.flaticon-law-1:before { content: "\f110"; }
.flaticon-lawyer-15:before { content: "\f111"; }
.flaticon-lawyer-16:before { content: "\f112"; }
.flaticon-lawyer-17:before { content: "\f113"; }
.flaticon-fine:before { content: "\f114"; }
.flaticon-lawyer-18:before { content: "\f115"; }
.flaticon-lawyer-19:before { content: "\f116"; }
.flaticon-lawyer-20:before { content: "\f117"; }
.flaticon-lawyer-21:before { content: "\f118"; }
.flaticon-law-2:before { content: "\f119"; }
.flaticon-balance:before { content: "\f11a"; }
.flaticon-family:before { content: "\f11b"; }
.flaticon-parents:before { content: "\f11c"; }
.flaticon-house:before { content: "\f11d"; }
.flaticon-insurance:before { content: "\f11e"; }
.flaticon-college-graduation:before { content: "\f11f"; }
.flaticon-divorce:before { content: "\f120"; }
.flaticon-delivery-man-giving-a-package-to-a-man:before { content: "\f121"; }
.flaticon-accident:before { content: "\f122"; }
.flaticon-wounded:before { content: "\f123"; }
.flaticon-prison:before { content: "\f124"; }
.flaticon-thief:before { content: "\f125"; }
.flaticon-suspect:before { content: "\f126"; }
.flaticon-arrest:before { content: "\f127"; }
.flaticon-thief-1:before { content: "\f128"; }
.flaticon-fire:before { content: "\f129"; }
.flaticon-car-crash:before { content: "\f12a"; }
.flaticon-fender-bender:before { content: "\f12b"; }
.flaticon-accident-1:before { content: "\f12c"; }
.flaticon-employee:before { content: "\f12d"; }
.flaticon-law-3:before { content: "\f12e"; }
.flaticon-law-4:before { content: "\f12f"; }
.flaticon-law-5:before { content: "\f130"; }
.flaticon-law-6:before { content: "\f131"; }
.flaticon-law-7:before { content: "\f132"; }
.flaticon-legal:before { content: "\f133"; }
.flaticon-gun:before { content: "\f134"; }
.flaticon-lawyer-22:before { content: "\f135"; }
.flaticon-guard:before { content: "\f136"; }
.flaticon-play-button:before { content: "\f137"; }
.flaticon-play-button-1:before { content: "\f138"; }
.flaticon-play-button-2:before { content: "\f139"; }
.flaticon-play-button-3:before { content: "\f13a"; }
.flaticon-play:before { content: "\f13b"; }
.flaticon-phone-call:before { content: "\f13c"; }
.flaticon-clock:before { content: "\f13d"; }
    
    $font-Flaticon-law: "\f100";
    $font-Flaticon-lawyer: "\f101";
    $font-Flaticon-lawyer-1: "\f102";
    $font-Flaticon-lawyer-2: "\f103";
    $font-Flaticon-lawyer-3: "\f104";
    $font-Flaticon-lawyer-4: "\f105";
    $font-Flaticon-lawyer-5: "\f106";
    $font-Flaticon-lawyer-6: "\f107";
    $font-Flaticon-lawyer-7: "\f108";
    $font-Flaticon-lawyer-8: "\f109";
    $font-Flaticon-lawyer-9: "\f10a";
    $font-Flaticon-lawyer-10: "\f10b";
    $font-Flaticon-lawyer-11: "\f10c";
    $font-Flaticon-lawyer-12: "\f10d";
    $font-Flaticon-lawyer-13: "\f10e";
    $font-Flaticon-lawyer-14: "\f10f";
    $font-Flaticon-law-1: "\f110";
    $font-Flaticon-lawyer-15: "\f111";
    $font-Flaticon-lawyer-16: "\f112";
    $font-Flaticon-lawyer-17: "\f113";
    $font-Flaticon-fine: "\f114";
    $font-Flaticon-lawyer-18: "\f115";
    $font-Flaticon-lawyer-19: "\f116";
    $font-Flaticon-lawyer-20: "\f117";
    $font-Flaticon-lawyer-21: "\f118";
    $font-Flaticon-law-2: "\f119";
    $font-Flaticon-balance: "\f11a";
    $font-Flaticon-family: "\f11b";
    $font-Flaticon-parents: "\f11c";
    $font-Flaticon-house: "\f11d";
    $font-Flaticon-insurance: "\f11e";
    $font-Flaticon-college-graduation: "\f11f";
    $font-Flaticon-divorce: "\f120";
    $font-Flaticon-delivery-man-giving-a-package-to-a-man: "\f121";
    $font-Flaticon-accident: "\f122";
    $font-Flaticon-wounded: "\f123";
    $font-Flaticon-prison: "\f124";
    $font-Flaticon-thief: "\f125";
    $font-Flaticon-suspect: "\f126";
    $font-Flaticon-arrest: "\f127";
    $font-Flaticon-thief-1: "\f128";
    $font-Flaticon-fire: "\f129";
    $font-Flaticon-car-crash: "\f12a";
    $font-Flaticon-fender-bender: "\f12b";
    $font-Flaticon-accident-1: "\f12c";
    $font-Flaticon-employee: "\f12d";
    $font-Flaticon-law-3: "\f12e";
    $font-Flaticon-law-4: "\f12f";
    $font-Flaticon-law-5: "\f130";
    $font-Flaticon-law-6: "\f131";
    $font-Flaticon-law-7: "\f132";
    $font-Flaticon-legal: "\f133";
    $font-Flaticon-gun: "\f134";
    $font-Flaticon-lawyer-22: "\f135";
    $font-Flaticon-guard: "\f136";
    $font-Flaticon-play-button: "\f137";
    $font-Flaticon-play-button-1: "\f138";
    $font-Flaticon-play-button-2: "\f139";
    $font-Flaticon-play-button-3: "\f13a";
    $font-Flaticon-play: "\f13b";
    $font-Flaticon-phone-call: "\f13c";
    $font-Flaticon-clock: "\f13d";